[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pytest-mock = "*"
factory-boy = "*"
termcolor = "*"
python-dotenv = "*"
pytest-env = "*"
pytest-sugar = "*"

[packages]
flask = "*"
requests = "*"
python-dateutil = "*"
lxml = "*"
factory-boy = "*"
json_log_formatter = "*"
sentry-sdk = {extras = ["flask"],version = "*"}
python-dotenv = "*"
pyoai = {ref = "6f54ef677313c907479e605051bcfd2f1950dc13", git = "https://github.com/datacite/pyoai.git"}

[requires]
python_version = "3.8"
