[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pytest-mock = "*"
factory-boy = "*"
termcolor = "*"
python-dotenv = "*"
pytest-env = "*"
pytest-sugar = "*"

[packages]
flask = "*"
requests = "*"
python-dateutil = "*"
lxml = "*"
factory-boy = "*"
json_log_formatter = "*"
sentry-sdk = {extras = ["flask"],version = "*"}
python-dotenv = "*"
pyoai = {ref = "5ff2f15e869869e70d8139e4c37b7832854d7049", git = "https://github.com/infrae/pyoai.git"}

[requires]
python_version = "3.8"
