[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pytest-mock = "*"
factory-boy = "*"
termcolor = "*"
python-dotenv = "*"

[packages]
flask = "*"
ftfy = "*"
pyoai = "*"
psycopg2-binary = "*"
requests = "*"
python-dateutil = "*"
lxml = "*"
factory-boy = "*"
json_log_formatter = "*"
sentry-sdk = {extras = ["flask"],version = "*"}
python-dotenv = "*"

[requires]
python_version = "3.5"
